In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# Which company is the most common video game publisher?

In [4]:
most_pub=df['Publisher'].mode().iloc[0]
most_pub

'Electronic Arts'

# What’s the most common platform?

In [5]:
most_platform=df['Platform'].mode().iloc[0]
most_platform

'DS'

# What about the most common genre?

In [6]:
most_genre=df['Genre'].mode().iloc[0]
most_genre

'Action'

# What are the top 20 highest grossing games?

In [7]:
highest_global=df[['Name','Global_Sales']].head(20)
highest_global

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, what’s the median?

In [8]:
secondary_output=df['NA_Sales'].median()
secondary_output

0.08

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
mean_NA_sales=df['NA_Sales'].iloc[0]-df['NA_Sales'].mean()
sta_NA_sales=df['NA_Sales'].std()
how_many=mean_NA_sales/sta_NA_sales
how_many

50.47898767479108

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [10]:
averge_wii=df[df['Platform']=='Wii'].Global_Sales.mean()
averge_platforms=df['Global_Sales'].mean()
averge=averge_wii,averge_platforms
averge

(0.6994037735849057, 0.5374406555006628)

# Come up with 3 more questions that can be answered with this data set.

## 1- what are the top 10 lower grossing game?

In [11]:
ten_lower=df[['Name','Global_Sales']].tail(10)
ten_lower

                                                    Name  Global_Sales
16588                                   Mega Brain Boost          0.01
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...          0.01
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...          0.01
16591                                Myst IV: Revelation          0.01
16592                                           Plushees          0.01
16593                 Woody Woodpecker in Crazy Castle 5          0.01
16594                      Men in Black II: Alien Escape          0.01
16595   SCORE International Baja 1000: The Official Game          0.01
16596                                         Know How 2          0.01
16597                                   Spirits & Spells          0.01

## 2- what is the averge of EU_Sales?

In [12]:
averge_EU=df['EU_Sales'].mean()
averge_EU

0.14665200626581515

## 3- what is the highest sales in JP_Sales?

In [13]:
highest_sales_in_JP_sales=df['JP_Sales'].max()
highest_sales_in_JP_sales

10.22

# the test :-

In [14]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_pub, 'Electronic Arts')
    assert_equal(most_platform, 'DS')
    assert_equal(most_genre, 'Action')
    assert_equal(highest_global.iloc[0].Name, 'Wii Sports')
    assert_equal(highest_global.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(secondary_output, 0.08)
    assert_equal(how_many, 50.47898767479108)
    assert_equal(averge, (0.6994037735849057, 0.5374406555006628))
   


    print("Success!!!")

test()

Success!!!