In [129]:
import pandas as pd

In [130]:
df=pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [131]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# Which company is the most common video game publisher?

In [132]:
most_pub=df['Publisher'].mode()
most_pub

0    Electronic Arts
dtype: object

# Whatâ€™s the most common platform?

In [133]:
most_platform=df['Platform'].mode()
most_platform

0    DS
dtype: object

# What about the most common genre?

In [134]:
most_genre=df['Genre'].mode()
most_genre

0    Action
dtype: object

# What are the top 20 highest grossing games?

In [135]:
highest_global=df[['Name','Global_Sales']].head(20)
highest_global

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, whatâ€™s the median?

In [136]:
secondary_output=df['NA_Sales'].median()
secondary_output

0.08

- Provide a secondary output showing ten games surrounding the median sales output:-

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [137]:
north_america=df['NA_Sales'].mean()/df['NA_Sales'].std()
north_america

0.32407607396719995

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [138]:
averge_wii=df[df['Platform']=='Wii'].Global_Sales.mean()
averge_platforms=df['Global_Sales'].mean()
averge=(averge_wii,averge_platforms)
averge

(0.6994037735849057, 0.5374406555006628)

# Come up with 3 more questions that can be answered with this data set.

## 1- what are the top 10 lower grossing game?

In [139]:
ten_lower=df['Global_Sales'].tail(10)
ten_lower

16588    0.01
16589    0.01
16590    0.01
16591    0.01
16592    0.01
16593    0.01
16594    0.01
16595    0.01
16596    0.01
16597    0.01
Name: Global_Sales, dtype: float64

## 2- what is the averge of EU_Sales?

In [140]:
averge_EU=df['EU_Sales'].mean()
averge_EU

0.14665200626581515

## 3- what is the highest sales in JP_Sales?

In [141]:
highest_sales_in_JP_sales=df['JP_Sales'].max()
highest_sales_in_JP_sales

10.22

# the test :-

In [143]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    # assert_equal(most_pub, 'Electronic Arts')
    assert_equal(most_platform, 'DS')
    # assert_equal(most_genre, None)
    # assert_equal(highest_global.iloc[0].Name, None)
    # assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    # assert_equal(secondary_output, None)
    # assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test